ul{
  padding-left: 0 ;
  margin: 0;
}
body {
  position: relative;
  width: 100%;


  //&::after {
  //  content: "";
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  right: 0;
  //  bottom: 0;
  //
  //}
  z-index: 1;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


nav {
  padding-top: 42px;
  right: 0;
  --transition-time: 500ms;
  position: absolute;

  display: flex;
  align-items: center;

  transform: translateX(-50%);

  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
  z-index: 4;

  a {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;

    &:hover{
      color: #00FF66;
    }
  }

  .nav-links {
display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;

    li {
      @include flex-center();
      margin-right: 15px;
      margin-left: 15px;
      position: relative;
      height: var(--link-height);
      list-style: none;
      opacity:1;
      transform: translateX(0);
      transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9);
      transition-delay: calc(30ms + var(--delay));
      cursor: pointer;
      z-index: 8;
      &:hover {
        color: rgba(255, 255, 255, 0.85);
      }
      a {

      }

      ol {
        display: none;
      }
    }
    .hover-el {
      --x: 0;
      position: absolute;
      width: 100%;
      height: var(--link-height);
      top: var(--y);
      left: var(--x);
      opacity: 0;
      background: radial-gradient(
                      circle at var(--mousex) var(--mousey),
                      rgba(0, 0, 0, 0.15) 0%,
                      rgba(0, 0, 0, 0.45) 100%
      );
      transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
      pointer-events: none;
      z-index: 5;
    }
  }

  .sub-menu {
display: none;
    --link-height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    ol {
      list-style: none;
      li {
        @include flex-center();
        height: var(--link-height);
        transition: all var(--transition-time) ease;
        transition-delay: calc(30ms + var(--delay));
        cursor: pointer;
        &:hover {
          background: rgba(0, 0, 0, 0.25);
        }
        &.off-menu {
          opacity: 0;
          transform: translateY(30%);
        }
        &.on-menu {
          opacity: 1;
          transform: translateY(0%);
        }

        a {
          font-size: 1.2rem;
          font-weight: normal;
        }
      }
    }
  }

  // Buttons
  .sub-menu-btn {
    display: none;
    --icon-width: 40px;
    position: absolute;
    top: 6%;
    left: 10%;
    width: var(--icon-width);
    height: var(--icon-width);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    opacity: 0;
    transform: translateX(-100%);
    transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 1.25);
    cursor: pointer;
    z-index: 8;
    pointer-events: none;

    .line {
      width: calc(var(--icon-width) - 28px);
      height: 2px;
      background: #fff;
      display: flex;
      flex-direction: column;
      margin: 12px 10px;
      &__1 {
        transform-origin: left;
        transform: rotate(-35deg) translate(-1px, 8px);
      }
      &__2 {
        transform-origin: left;
        transform: rotate(35deg) translate(-1px, -8px);
      }
    }
  }

  .menu-btn {
    @include flex-center();
    display: none;
    --icon-width: 25px;
    position: absolute;
    top: 5%;
    left: -15%;
    width: calc(var(--icon-width) + 25px);
    height: calc(var(--icon-width) + 25px);
    flex-direction: column;
    transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
    cursor: pointer;
    z-index: 10;
    &.close {
      .line {
        &__1 {
          transform: rotate(45deg) translate(2px, -3px);
        }
        &__2 {
          transform: rotate(-45deg);
        }
        &__3 {
          transform: rotate(45deg) translate(-2px, 3px);
        }
      }
    }
    .line {
      width: var(--icon-width);
      background: #fff;
      height: 2px;
      margin: 3px 0;
      transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
      &__1 {
        width: var(--icon-width);
        transform-origin: left;
      }
      &__2 {
        width: var(--icon-width);
        transform-origin: center;
      }
      &__3 {
        width: var(--icon-width);
        transform-origin: right;
      }
    }
  }

  &.nav-open{

    transform: translateX(-100%);
    .menu-btn {
      right: 10%;
    }
    .nav-links {
      li {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  &.sub-menu-open {
    .sub-menu-btn {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
    .nav-links {
      li {
        pointer-events: none;
        opacity: 0;
        transform: translateY(-10%);
      }
      .hover-el{
        opacity: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px){
  ul{
    padding-left: 40px ;
    margin-top: 16px;
    margin-bottom: 16px;
  }
nav{
  padding-top: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  width: 400px;
  right: -400px;
  transform: translateX(0%);
  //transform: translateX(-100%);
  height: 100vh;
  a {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-decoration: none;
    user-select: none;
    color: #fff;
  }
  .menu-btn{
display: inherit;
  }
  .sub-menu-btn{
    display: inherit;
  }
  .nav-links{
    --link-height: 60px;
display: initial;
    li{
      margin-right: 0;
      margin-left: 0;
      transform: translateX(50%);
      opacity: 0;
      width: 100%;
      a{
        pointer-events: none;
      }
    }
  }

  .menu-btn.close{
    left: 10px;

  }
}

}
@media only screen and (max-width: 320px){
  .menu-btn.close{
    left: 90px;
  }
}